@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Lexend:wght@300;400;600&family=VT323&display=swap');

:root {
    --bg: #454e3a;
    --bg-panel: #5a664d;
    
    --primary: #99AD7A;
    --secondary: #546B41;
    --accent: #db9bb2;
    
    --text: #F6F0D7;
    --text-muted: #bab89e;

    --font-title: 'Fredoka', sans-serif;
    --font-body: 'Lexend', sans-serif;
    --font-pixel: 'VT323', monospace;
}

body { 
    font-family: var(--font-body); 
    font-weight: 400;
    background: var(--bg); 
    color: var(--text); 
    line-height: 1.6; 
}

a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit;       /* Opcional: faz o link herdar a cor do texto pai */
}

.container { 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */
.main-header {
    position: absolute; /* Faz o header flutuar sobre a Hero */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    padding: 20px 0;
}

.logo-img {
    height: 5rem;
}

.nav-left ul, .nav-right ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.main-header a {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    color: var(--text);
}

/* Footer */
.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.2);
    color: var(--text-muted);
    padding: 20px 0;
}
.footer-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-body);
    font-weight: 600;
    color: var(--text);
    transition: color 0.3s ease;
}
.link-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.footer-link:hover {
    color: var(--accent);
}